Source: djmote
Section: user/multimedia
Priority: optional
Maintainer: Mickael Royer <mickael.royer@gmail.com>
Build-Depends: debhelper (>= 4.0.0), python2.5-dev
Standards-Version: 3.6.0

Package: djmote
Architecture: all
Depends: python2.5, python2.5-hildon, python2.5-gtk2, python2.5-gobject
Description: A deejayd client for the Maemo platform
 A graphical deejayd client optimized for use on Maemo devices such as the
 Nokia N770 or Nokia N800.
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs
 4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9cKDxQMF
 pJyfzEAAATDSURBVEjHjZbNT5NZFMZ/933fvtQCHW2ZQh2kVqXDwCxmYlwMK1ZGSE2YjRt2Rv4I
 k0lcTNy5ceFGF/4BJo5BBw0SE0USB0kwfI12PiINM5SPgsWCfLQ9szklL+VjvMnJTd/ee57zPPe
 cc68RkTqgCfge+AH4DogBQcAHGP5/CFAE1oE54HdgBBidm5sbWFlZwdFF5cUlQNLpdN3MzAxTU1
 NMT0+TTqdZXV1lY2MDEcEYQyAQ4NSpU7S3t9Pe3m4SiYQBbKAqk8l0v3r1qntoaIhIJEJHRwdGR
 MLAiXfv3o0NDg7y4sUL3rx5QyaTIZ/PUyqVDqXi8/lobGzk7NmzJBIJRITXr1/j8/lIJpNcvny5
 0+/3/2ZE5NiNGzeW7927x/z8PA0NDUSjUerq6qipqcGyLAqFAs+fP2diYoJSqYRlWfsGEAwG6ej
 ooLu7m66uLurr63uACeAfJ5VKLVdVVXH9+nVisRjxeLzPcZwocBz4AvA/ffrUGR4eplQqYds2PT
 09WJbF27dvWV9fp7a2lnPnznH+/Hk6OzungDQwDmzr2YkRkSPqsBFIAN8C3wCngfpMJhPp7e3l0
 aNHALS2ttLf308sFssWi8WNXC4XDoVCKXW6BeSAWU2ISeAvYMEBCsAnIKsLqoEaBa+9f/8+jx8/
 3pEnEokQi8WyQNa27YVQKDQK5IFNtY/APDADLAFrQMFRahvAKrAA1AIR4CugYXBwkGKxWHkca8A
 i8LfKlNXU3tSgPyjIon4vOJ4a2NDIcmrruVwu+v79+90FI4KuXQH+Bf7U+aNKt6VgawqyARQdY4
 yISEkl3NKotoBt27Y3jTH7AZV0TV7ZzCmLTfXjtSIgjqdYywW7Y7Ztb1qWtQtIZbQBB7A8oGvl6
 MuFrzPGGLEOaCcCsB9QLpdjfn6+GQho4hxR4PIRFICiMaZojBFjjKARVY4drVzX/Wjb9q4/s9ks
 i4uLKEitZqhfGVJmUOnU8jg3+tvSCC3AhMPhXRuWl5dJpVIok1q1AODqPiMiexqxpR8tjcgFqnT
 2AVY8Ht+1YWtri/HxcdR5EDiqNRc4rNuXGfg8EXo3ui0tLXjPSUQYHR0tMzoK1AEhlbCqzGo/IF
 f1Dmt/awQagGPAkba2NmpqanZtGhkZYWho6IQGVKd21HNWe+SzlP6XwAngDNAMnNRv1c3NzVTKt
 7S0RH9/P8rimDIKejJwX0YN6vhroFXnJmUYSKfTBINBvIUrIjx58oR0On1G5Q6qKu5hQAnt1m0K
 cnJ7e7vxzp070YsXL1Ynk0levnxZ7gg7Y3JykoGBASoSqFzEe4AcfSscV+mOP3v2rOXWrVv09fV
 RKBQOvFkLhQLDw8NcuXLF8iTVge8LRx8jYSD88OHD09euXWNsbIzPGZokRY/JYUDNQPXs7Gz05s
 2bnw0Sj8dJJpNop/6kDXXb0+eo7MY5EVl/8OCBuK4rnl53oMXjcbl9+7aIyLSI/CIiP4lIl4icE
 ZGgiDiV6e1oYRqfz0dlA60cruty4cIFent7SSaT/+rVsKD2oXzJHcSoJDquXr0q0WhUHMcRY4xY
 liV+v1+amprk0qVLcvfuXcnn80URWRWRP0TkVxH5WUR+FJFWEQmJiCuy91b4D/auIqxdPnlYAAA
 AAElFTkSuQmCC
  ===
