#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

build: build-python
	
build-python:
	python2.5 setup.py build
	touch $@

install: build install-python

install-python:
	python2.5 setup.py install --skip-build\
	         --root $(CURDIR)/debian/djmote

	dh_install --sourcedir=$(CURDIR)/debian/djmote

clean:
	dh_testdir
	dh_testroot
	rm -f build-python*

	# Add here commands to clean up after the build process.
	python2.5 setup.py clean --all

	dh_clean 

# Build architecture independant packages using the common target.
binary-indep: build install
# We have nothing to do by default.

# Build architecture dependant packages using the common target.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install
