syntax: glob
db/*
conf*
MANIFEST
*.orig
*.rej
.DS_Store
*~
*.pyc
build*
webui/gen*
webui/dist/*.map
webui/dist/*.js
.vscode*
webui/node_modules*
webui/dist/aot/*

syntax: regexp
.*\#.*\#$

syntax: regexp
^.idea
