include MANIFEST.in
include doc/*
include COPYING
include README
include NEWS
include TODO
include prepare.sh
include docs.py
include deejayd/ui/defaults.conf
recursive-include deejayd/webui/mobile/templates *thtml
include gentoo/*
include gentoo/files/*
recursive-include data/htdocs *
include po/*po
include po/POTFILES.in
include po/update.py
include po/deejayd.pot
include tests.py
include scripts/testserver
include scripts/deejayd_rgscan
recursive-include testdeejayd *
include data/logo/*
recursive-include extensions/deejayd-webui *
include man/*
