include MANIFEST.in
include doc/*
include .gitignore
include COPYING
include README
include NEWS
include TODO
include prepare.sh
include docs.py
include deejayd/ui/defaults.conf
include po/*po
include po/POTFILES.in
include po/update.py
include po/deejayd.pot
include tests.py
include scripts/testserver
include scripts/deejayd_rgscan
include devscripts/db_update.py
recursive-include testdeejayd *
include data/logo/*
include man/*
recursive-include webui/src *
recursive-include webui/dev *
recursive-include webui/ressources *
include webui/dist/*.js
include webui/*.json
include webui/*.js
