#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# manpages targets from docbook
DB2MAN=/usr/share/sgml/docbook/stylesheet/xsl/nwalsh/manpages/docbook.xsl
XP=xsltproc -''-nonet -o $(CURDIR)/debian/

%.1 : %.xml
	$(XP) $(DB2MAN) $<

MANPAGES=$(CURDIR)/debian/deejayd.1 $(CURDIR)/debian/djc.1

PYVERS=$(shell pyversions -vr)

build: $(PYVERS:%=build-python%) $(MANPAGES)

build-python%:
	touch $@

install: build $(PYVERS:%=install-python%)

install-python%:
	dh_clean -k -i
	dh_clean -k -s
	python$* setup.py install --no-compile\
	         --root $(CURDIR)/debian/tmp

	# Fixing example conffile location
	mkdir $(CURDIR)/debian/tmp/etc
	mv $(CURDIR)/debian/tmp/usr/share/doc/deejayd/deejayd.conf.example\
	   $(CURDIR)/debian/tmp/etc/deejayd.conf

	dh_install --sourcedir=$(CURDIR)/debian/tmp
	dh_installdirs

clean:
	dh_testdir
	dh_testroot
	rm -f build-python*
	rm -f $(CURDIR)/debian/djc.1 $(CURDIR)/debian/deejayd.1

	# Add here commands to clean up after the build process.
	python setup.py clean --all
	rm -f $(CURDIR)/deejayd/__init__.pyc
	rm -f $(CURDIR)/build/mo/fr/LC_MESSAGES/deejayd.mo
	rm -f $(CURDIR)/MANIFEST

	dh_clean

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_pycentral
	# Workaround for bug #452227
	rmdir $(CURDIR)/debian/deejayd-xine/usr/lib
	rmdir $(CURDIR)/debian/deejayd-gstreamer/usr/lib
	rmdir $(CURDIR)/debian/deejayd-client/usr/lib
	rmdir $(CURDIR)/debian/deejayd-webui/usr/lib
	rmdir $(CURDIR)/debian/deejayd/usr/lib
	dh_installlogrotate
	# Inspired by mpd packaging, so that ALSA scripts can run first
	dh_installinit -u"defaults 30 15"
	dh_installman
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-arch binary-indep

.PHONY: build clean binary-indep binary-arch binary install
