#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

PYVERS=$(shell pyversions -vr)

build: $(PYVERS:%=build-python%)

build-python%:
	touch $@

install: build $(PYVERS:%=install-python%)

install-python%:
	dh_clean -k -i
	dh_clean -k -s
	python$* setup.py install --no-compile\
	         --root $(CURDIR)/debian/tmp

	# Fixing example conffile location
	mkdir $(CURDIR)/debian/tmp/etc
	cp $(CURDIR)/deejayd/ui/defaults.conf $(CURDIR)/debian/tmp/etc/deejayd.conf

	# Removing jquery embedded copy, see debian/deejayd-webui.links
	rm $(CURDIR)/debian/tmp/usr/share/deejayd/htdocs/js/lib/jquery.js

	dh_install --sourcedir=$(CURDIR)/debian/tmp
	dh_installdirs

clean:
	dh_testdir
	dh_testroot

	rm -f build-python*
	rm -rf $(CURDIR)/build/mo
	rm -f $(CURDIR)/extensions/deejayd-webui.xpi
	python setup.py clean --all
	find $(CURDIR) -name '*pyc' -exec rm -f {} \;
	rm -f $(CURDIR)/MANIFEST
	rm -f $(CURDIR)/man/*.{1,5}

	dh_clean

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_pycentral
	dh_installlogrotate
	# Inspired by mpd packaging, so that ALSA scripts can run first
	dh_installinit -u"defaults 30 15"
	dh_installman
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-arch binary-indep

.PHONY: build clean binary-indep binary-arch binary install
