<div class="col-xs-12 col-md-3" id="djd-main-sidebar">
    <div id="djd-pls-menu-container">
      <ul class="nav nav-pills nav-stacked" id="djd-pls-menu">
          <li ng-class="{'active': currentPls=='audiopls' }">
              <a ng-click="loadPls('audiopls')">
                  <span ng-show="currentId.pls == 'audiopls'"
                        class="glyphicon glyphicon-play"></span>
                  Audio Playlist
              </a>
          </li>
          <li ng-class="{'active': currentPls=='audioqueue' }">
              <a ng-click="loadPls('audioqueue')">
                  <span ng-show="currentId.pls == 'audioqueue'"
                        class="glyphicon glyphicon-play"></span>
                  Audio Queue
              </a>
          </li>
          <li ng-class="{'active': currentPls=='videopls' }">
              <a ng-click="loadPls('videopls')">
                  <span ng-show="currentId.pls == 'videopls'"
                        class="glyphicon glyphicon-play"></span>
                  Video Playlist
              </a>
          </li>
      </ul>
    </div>
</div>
<div class="col-xs-12 col-md-9">
    <nav class="navbar navbar-default" id="djd-main-toolbar">
        <p class="navbar-text" ng-bind="plsDesc"></p>
        <div class="navbar-right">
          <button ng-hide="currentPls != 'audiopls'"
                  ng-click="player.plsShuffle(currentPls)"
                  type="button"
                  class="btn btn-default navbar-btn">
              <span class="glyphicon glyphicon-random"></span>
          </button>
          <button ng-hide="currentPls != 'audiopls'"
                  type="button"
                  class="btn btn-default navbar-btn"
                  id="djd-pls-save">
              <span class="glyphicon glyphicon-save"></span>
          </button>
          <button type="button"
                  ng-click="player.plsClear(currentPls)"
                  class="btn btn-default navbar-btn">
              <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
    </nav>

    <div id="djd-main-content">
        <div ng-show="loading" style="text-align: center">
            <div class="djd-progress-img"></div>
        </div>

        <div ng-hide="loading">
            <div id="djd-pls-listgroup" class="list-group djd-medialist">
                <a djd-track
                   track-no="$index+1" track="track" pls="currentPls"
                   ng-repeat="track in playlist"
                   href=""
                   ng-class="{active: track.get('id') == currentId.id && currentPls == currentId.pls}"
                   class="list-group-item row"/>
            </div>
        </div>
    </div>
</div>
</div>
