<div class="dropdown pull-right">
    <button class="btn btn-default dropdown-toggle"
            id="dropdownMenu1"
            data-toggle="dropdown">
        <span class="glyphicon glyphicon-align-justify"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
            <a ng-click="play()"
               role="menuitem" tabindex="-1" href="">
                {{ '_play_' | i18n }}
            </a>
        </li>
        <li role="presentation" class="divider"/>
        <li role="presentation">
            <a ng-click="addToPls()"
               role="menuitem" tabindex="-1" href="">
                {{ '_addPls_' | i18n }}
            </a>
        </li>
        <li role="presentation" class="divider"/>
        <li role="presentation">
            <a ng-click="addToQueue()"
               role="menuitem" tabindex="-1" href="">
                {{ '_addQueue_' | i18n }}
            </a>
        </li>
    </ul>
</div>
<h4 ng-bind-html="tag | audiotag" ng-click="loadAlbums(tagname, tag)"></h4>
