<div class="dropdown pull-right">
    <button class="btn btn-default dropdown-toggle"
            id="dropdownMenu1"
            data-toggle="dropdown">
        <span class="glyphicon glyphicon-align-justify"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
            <a ng-click="playFile()"
               role="menuitem" tabindex="-1" href="">
                {{ '_play_' | i18n }}
            </a>
        </li>
        <li role="presentation" class="divider"/>
        <li role="presentation">
            <a ng-click="addFileToPls()"
               role="menuitem" tabindex="-1" href="">
                {{ '_addPls_' | i18n }}
            </a>
        </li>
        <li role="presentation" class="divider" ng-show="libraryType == 'music'"/>
        <li role="presentation" ng-show="libraryType == 'music'">
            <a ng-click="addFileToQueue()"
               role="menuitem" tabindex="-1" href="">
                {{ '_addQueue_' | i18n }}
            </a>
        </li>
    </ul>
</div>
<h4 class="filename" ng-click="loadFolder($event, folder.root)">
    <span class="glyphicon glyphicon-folder-close"/>
    {{folder.name}}
</h4>
