<div class="dropdown pull-right" ng-show="isEditable">
    <button class="btn btn-default dropdown-toggle"
            id="dropdownMenu1"
            data-toggle="dropdown">
        <span class="glyphicon glyphicon-align-justify"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
            <a ng-click="erase()"
               role="menuitem" tabindex="-1" href="">
                {{ '_erase_' | i18n }}
            </a>
        </li>
    </ul>
</div>
<h4 ng-click="getWebradio(source.name, category)">
    {{category.name}}
</h4>
