<div class="col-xs-12 col-md-3" id="djd-main-sidebar" ng-show="hasMultipleSources">
    <div>
      <ul class="nav nav-pills nav-stacked">
          <li ng-class="{'active': currentSource.name==source.name}"
              ng-repeat="source in activeSources">
              <a href=""
                 ng-click="setSource(source.name)">{{ source.label }}</a>
          </li>
      </ul>
    </div>
</div>
<div ng-class="{'col-md-9': hasMultipleSources}" class="col-xs-12">
    <nav class="navbar navbar-default">
        <form class="navbar-form navbar-left" role="search" ng-submit="search(searchEntry)">
            <div class="form-group">
                <input ng-model="searchEntry"
                       type="text"
                       class="form-control"
                       placeholder="{{ '_search_' | i18n }}">
            </div>
          <button type="submit" class="btn btn-default">{{ '_submit_' | i18n }}</button>
        </form>
        <div class="navbar-right" ng-show="currentSource.isEditable">
            <button type="button"
                    data-toggle="modal" data-target="#djd-modal-webradio-dialog"
                    class="btn btn-default navbar-btn">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button"
                    ng-show="view == 'webradio'"
                    ng-click="clearWebradios()"
                    class="btn btn-default navbar-btn">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    </nav>

    <div ng-show="loading" style="text-align: center">
        <div class="djd-progress-img"></div>
    </div>

    <div ng-hide="loading">
        <ol class="breadcrumb" ng-show="view == 'webradio'">
            <li>
                <a ng-click="getCategoriesList()">{{ '_allCategories_' | i18n }}</a>
            </li>
            <li class="active">{{ currentCategory.name }}</li>
        </ol>

        <div class="list-group">
            <a djd-wbcat
               category="category"
               get-webradio="getWebradioList"
               is-editable="currentSource.isEditable"
               source="currentSource"
               ng-repeat="category in categories"
               class="list-group-item row"/>
            <a djd-webradio
               webradio="webradio"
               source="currentSource"
               is-editable="currentSource.isEditable"
               ng-repeat="webradio in webradios"
               class="list-group-item row"/>
        </div>
    </div>
</div>

<div class="modal fade"
     id="djd-modal-webradio-dialog"
     tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ '_add_' | i18n }}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class='form-group' ng-show="view=='category'">
                        <label class="control-label col-xs-6">{{ '_name_' | i18n }}</label>
                        <div class="col-xs-6">
                            <input class="form-control"
                                   type="text"
                                   ng-model="categoryInputName"
                                   name="categoryInputName"
                                   placeholder=''/>
                        </div>
                    </div>

                    <div ng-show="view=='webradio'">
                        <div class='form-group'>
                            <label class="control-label col-xs-6">{{ '_name_' | i18n }}</label>
                            <div class="col-xs-6">
                                <input class="form-control"
                                       type="text"
                                       ng-model="webradioInputName"
                                       placeholder=''/>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class="control-label col-xs-6">{{ '_url_' | i18n }}</label>
                            <div class="col-xs-6">
                                <input class="form-control"
                                       type="text"
                                       ng-model="webradioInputUrl"
                                       placeholder=''/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button  type="button"
                         class="btn btn-default"
                         data-dismiss="modal">{{ '_close_' | i18n }}</button>
                <button type="button"
                        ng-click="add()"
                        class="btn btn-default">{{ '_add_' | i18n }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
