Source: deejayd
Section: sound
Priority: extra
Maintainer: Alexandre Rossi <alexandre.rossi@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), python (>= 2.6.6-3)
Build-Depends-Indep: gettext, xsltproc, docbook-xsl, coffeescript, node-uglify, node-less
Standards-Version: 3.9.6.0
X-Python-Version: >= 2.4
Homepage: http://mroy31.domring.net/~roy/projects/deejayd
Vcs-Hg: http://mroy31.domring.net/repository/deejayd
Vcs-Browser: http://mroy31.domring.net/repository/deejayd

Package: deejayd
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
         lsb-base (>= 3.0-6), logrotate, adduser,
         deejayd-client (= ${binary:Version}),
         deejayd-vlc (= ${binary:Version}) | deejayd-gstreamer (= ${binary:Version}),
         python-twisted,
         python-mutagen
Suggests: deejayd-webui,
          xserver-xorg, xauth, x11-utils, x11-common,
          python-zope.interface
Breaks: deejayd-xine (<= 0.10)
Description: Network controllable media player daemon
 Deejayd is a multi purpose media player that can be completely controlled
 through the network using XML messages.
 It suppports playlists, searching, many media tags. It can playback many
 music and video formats using either its vlc (recommended) or its GStreamer
 backend.

Package: deejayd-webui
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
         deejayd (= ${binary:Version}), logrotate,
         python-twisted-web, python-twisted-sockjs,
         fonts-font-awesome, libjs-sockjs, libjs-bootstrap, libjs-angularjs
# libjs-jquery
Description: Web interface for deejayd
 This package provides, in order to control your deejayd server, two HTML and
 AJAX web interfaces:
    - one suitable for desktop computers or laptops,
    - one optimized for small screens.
 .
 The required webserver is embedded in the deejayd daemon.

Package: deejayd-client
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-simplejson | python (>= 2.6)
Breaks: djc (<= 0.8.1)
Replaces: djc
Description: Client library and command line tool to access the deejayd server
 This package provides easy to use classes to manipulate the deejayd server,
 abstracting XML message processing and network operations. It fully implements
 the set of features exploitable from the server.
 .
 It also includes djc, which provides a subset of deejayd commands for your
 deejayd server to be reachable from the command line.

Package: deejayd-gstreamer
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-gi,
         libgstreamer1.0-0, gir1.2-gstreamer-1.0,
         gir1.2-gst-plugins-base-1.0, gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-good
Recommends: gstreamer1.0-libav, gstreamer1.0-plugins-bad, gstreamer1.0-x
Description: Deejayd GStreamer backend
 The deejayd media backend using the GStreamer library.

Package: deejayd-vlc
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, libvlc5
Description: Deejayd VLC backend
 The deejayd media backend using the VLC library.
