Source: deejayd
Section: sound
Priority: optional
Maintainer: Alexandre Rossi <alexandre.rossi@gmail.com>
Build-Depends: debhelper (>= 10), python3 (>= 3.4), dh-python,
Build-Depends-Indep: gettext, xsltproc, docbook-xsl,
    python3-distutils,
    python3-babel,
    python3-twisted,
    python3-mutagen,
    python3-sqlalchemy,
    python3-migrate,
    python3-twisted-sockjs
Standards-Version: 4.1.3
Homepage: https://mroy31.domring.net/~roy/repositories.git/deejayd/about/
Vcs-Git: https://mroy31.domring.net/~roy/repositories.git/deejayd/
Vcs-Browser: https://mroy31.domring.net/~roy/repositories.git/deejayd/

Package: deejayd
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
    logrotate, adduser,
    deejayd-client (= ${binary:Version}),
    deejayd-vlc (= ${binary:Version}) | deejayd-mpv (= ${binary:Version}) | deejayd-gstreamer (= ${binary:Version}),
    python3-sdnotify,
    python3-twisted,
    python3-mutagen,
    python3-sqlalchemy,
    python3-migrate,
    python3-twisted-sockjs
Suggests: lightdm-autologin-greeter
Conflicts: deejayd-webui
Description: Network controllable media player daemon
 Deejayd is a multi purpose media player that can be completely controlled
 through the network using JSON messages.
 It supports playlists, searching, many media tags. It can playback many
 music and video formats using either its vlc (recommended), mpv or its
 GStreamer backend.

Package: deejayd-client
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Client library and command line tool to access the deejayd server
 This package provides easy to use classes to manipulate the deejayd server,
 abstracting JSON message processing and network operations. It fully implements
 the set of features exploitable from the server.
 .
 It also includes djc, which provides a subset of deejayd commands for your
 deejayd server to be reachable from the command line.

Package: deejayd-gstreamer
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-gi,
         libgstreamer1.0-0, gir1.2-gstreamer-1.0,
         gir1.2-gst-plugins-base-1.0, gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-good
Recommends: gstreamer1.0-libav, gstreamer1.0-plugins-bad, gstreamer1.0-x
Description: Deejayd GStreamer backend
 The deejayd media backend using the GStreamer library.

Package: deejayd-vlc
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, libvlc5
Description: Deejayd VLC backend
 The deejayd media backend using the VLC library.

Package: deejayd-mpv
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, mpv
Description: Deejayd mpv backend
 The deejayd media backend using the mpv player.
