[Unit]
Description=Deejayd media player daemon
After=network.target

[Service]
Type=simple
# setting PYTHONUNBUFFERED is necessary to see the output in the journal
Environment=PYTHONUNBUFFERED=true
EnvironmentFile=/etc/default/deejayd
ExecStartPre=/usr/share/deejayd/deejayd-init-helper
ExecStart=/usr/bin/deejayd -l ${LOGFILE} -w ${WEBUI_LOGFILE} ${DEEJAYD_DAEMON_OPTS}
User=deejayd
SupplementaryGroups=audio cdrom video
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
