[Unit]
Description=Deejayd media player daemon
After=network.target
Documentation=man:deejayd

[Service]
Type=notify
# setting PYTHONUNBUFFERED is necessary to see the output in the journal
Environment=PYTHONUNBUFFERED=true
EnvironmentFile=/etc/default/deejayd
ExecStartPre=/usr/share/deejayd/deejayd-init-helper
ExecStart=/usr/bin/deejayd ${DEEJAYD_DAEMON_OPTS}
User=deejayd
SupplementaryGroups=audio cdrom video
PermissionsStartOnly=true
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
