#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


%:
	dh $@ --with python2

override_dh_install:
	# Fixing example conffile location as dh_install cannot rename
	mkdir -p $(CURDIR)/debian/tmp/etc
	cp -a $(CURDIR)/deejayd/ui/defaults.conf\
	      $(CURDIR)/debian/tmp/etc/deejayd.conf

	dh_install

override_dh_installinit:
	# Inspired by mpd packaging, so that ALSA scripts can run first
	dh_installinit -u"defaults 30 15"
	# Inspired by gdm packaging
	dh_installinit --name=deejayd-xserver -u"defaults 30 01"
