#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


include /usr/share/dpkg/pkg-info.mk


UVERSION := $(shell ./setup.py --version)
#export PYBUILD_NAME = deejayd
export PYBUILD_DISABLE=test


%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	# Fixing example conffile location as dh_install cannot rename
	mkdir -p $(CURDIR)/debian/tmp/etc/default
	cp -a $(CURDIR)/deejayd/ui/defaults.conf\
	      $(CURDIR)/debian/tmp/etc/deejayd.conf
	cp -a $(CURDIR)/debian/deejayd.default\
	      $(CURDIR)/debian/tmp/etc/default/deejayd

	dh_install

override_dh_installinit:
	echo "Skipping dh_installinit"

override_dh_systemd_enable:
	dh_systemd_enable --no-enable # Disable service by default

override_dh_installlogrotate:
	dh_installlogrotate
	dh_installlogrotate --name=deejayd-webui

orig_source:
	./setup.py sdist
	mv dist/deejayd-$(UVERSION).tar.gz ../deejayd_$(DEB_VERSION_UPSTREAM).orig.tar.gz
	rmdir dist
