.cellTable {
  border: 1px solid #88b0f2;
}

.cell {
  padding: 2px 0px;
}

.cell div {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  -moz-binding: url('style/mozbinding.xml#ellipsis');
  text-overflow: ellipsis;
}

.evenRow {
  background-color: #ffffff;
}

.oddRow {
  background-color: #eef4fb;
}

@sprite .selectedRow {
  gwt-image: 'cellTableSelectedBackground';
  background-color: #628cd5;
  color: white;
  height: auto;
  overflow: auto;
}

@sprite .loading {
  gwt-image: 'cellTableLoading';
  margin: 30px;
}
