/*
 * General parms
 */
.center { text-align: center; vertical-align: middle; }
.hide { display: none; }
body {
    margin: 0px; padding: 0px;
    background-color: #121212;
    color: #fff;
}
input { padding: 2px; }

#header, #main { width: 100%; }

/*
 * notification
 */
#notification {
    position: fixed; top: 0px; left: 0px;
    height: 25px; width: 100%;
}
#notification div {
    opacity: 0.8;
    padding: 2px;
}
#notification div.error {
    background-color: #EF9398;
    border: 1px solid #DC5757;
    color: #f00;
}
#notification div.confirmation {
    background-color: #A6EF7B;
    border: 1px solid #76C83F;
    color: #fff;
}
#notification div input {
    float: right;
    background: #eee;
    color: #000;
}

/*
 * Header
 */
#header {
    margin: 0px; padding: 0px;
    background-image: url(images/control-bg.png);
    background-repeat: repeat-x;
    height: 30px;
    text-align: center;
}
#header div {
    display: inline-block;
    text-align: center;
}
#header div.button {
    height: 25px;
    font-size: 15px;
    background: #cdcdcd;
    padding: 2px 8px 0px 8px;
}
#header #main_title {
    padding-top: 2px;
    font-size: 18px; font-weight: bold;
}
#header #loading {
    width: 30px; height: 30px;
    position: fixed; top: 0px; right: 2px;
    z-index: 10;
    background-image: url(images/loading.gif);
    background-repeat: no-repeat;
}


/*
 * control command
 */
#playing-control {
    width: 100%;
    height: 55px;
    text-align: center;
    background-image: url(images/control-bg.png);
    background-repeat: repeat-x;
}
#playing-control div.control-button {
    padding: 0px;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    margin-right: auto; margin-left: auto;
}
#previous_button { background-image: url(images/previous.png); }
#next_button { background-image: url(images/next.png); }
#stop_button { background-image: url('images/stop.png'); }
div.play { background-image: url('images/pause.png'); }
div.pause, div.stop { background-image: url('images/play.png'); }

/*
 * playing info
 */
#playing-info {
    width: 100%;
    height:291px;
    background-color: #121212;
    text-align: center;
}
#playing-info #playing-cover {
    z-index: 0;
    height: 291px;
}
#playing-info #playing-text {
    position: fixed; top: 30px; left: 0px;
    opacity: 0.5;
    background-color: #000;
    text-align: center;
    z-index: 2;
    width: 100%;
    height: 100px;
}
#playing-info #playing-text div {
    width: 100%;
    z-index: 3;
}
#playing-info #playing-text div.title {
    padding-top: 10px;
    font-size: 16px; font-weight: bold;
}
#playing-info #playing-text div.artist, #playing-info #playing-text div.url {
    font-size: 14px; font-style: italic;
}

/*
 * volume widget
 */
#volume-widget {
    width: 100%;
    height: 40px;
    background-image: url(images/volume-bg.png);
    background-repeat: repeat-x;
}
#volume-widget div { display: inline-block; }
#volume-slider {
    position: relative;
    top: 5px;
    width: 200px; height: 15px;
    background-color: #fff;
}
#volume-handle {
    position: relative;
    top: -5px;
    width: 25px; height: 25px;
    background-image: url(images/vol-handle.png);
}
.volume-button {
    position: relative; top: 6px;
    width: 24px; height: 24px;
}
#volume-up { background-image: url(images/add.png); }
#volume-down { background-image: url('images/remove.png'); }

/*
 * Mode List
 */
#modelist-content {
    text-align: center;
    width: 100%;
    background-color: #121212;
    padding: 10px 0px;
}
#modelist-content div.mode-button {
    text-align: center;
    height: 40px;
    font-size: 20px; font-weight: bold;
    margin: 0px 20px 10px 20px;
    background-color: #454545;
    padding-top: 20px;
}

/*
 * current mode - toolbar
 */
#mode-toolbar {
    background-color: #232323;
    width: 100%; height: 30px;
}
#mode-toolbar div.toolbar-button {
    display: inline-block;
    width: 30px; height: 30px;
    padding: 0px 5px;
    background-repeat: no-repeat;
}
#pl-add, #wb-add, #video-set { background-image: url(images/add-btn.png); }
#pl-opt, #panel-opt, #video-opt { background-image: url(images/options.png); }
#video-search { background-image: url(images/search-btn.png); }
#pl-clear, #wb-clear { background-image: url(images/clear-btn.png); }
#pl-remove, #wb-remove { background-image: url(images/remove-btn.png); }
#pl-shuffle,#dvd-load { background-image: url(images/refresh.png); }

/*
 * current mode - media list
 */
#mode-content div div.media-item {
    width: 100%; height: 45px;
    border-bottom: 1px solid #676767;
}
#mode-content div div.media-item div {
    height: 45px;
    display: inline-block;
}
#mode-content div div.media-item div.media-info div {
    height: 45px;
    display: block;
}
#mode-content div div.media-item div.media-info .media-title,
#mode-content div div.media-item div.media-info .media-desc {
    height: 20px;
    overflow:hidden;
    white-space: nowrap;
}
#mode-content div div.media-item div.media-info .media-title {
    font-weight: bold; font-size: 15px;
}
#mode-content div div.media-item div.media-info .media-desc {
    font-style: italic; font-size: 14px;
    padding-left: 15px;
}
#mode-content div div.media-item div.media-play-btn {
    height: 40px; width: 40px;
    background-image: url(images/go-last.png);
    background-repeat: no-repeat;
}
#mode-content div div.media-item div.media-select {
    height: 40px; width: 40px;
    text-align: center; vertical-align: middle;
}

/*
 * current mode - medialist pager
 */
#mode-content div div.pager { text-align: center; vertical-align: middle; }
.pager-btn{ height: 40px; width: 40px; }
.pager-previous { background-image: url(images/go-previous.png); }
.pager-next { background-image: url(images/go-next.png); }
.pager-first { background-image: url(images/go-first.png); }
.pager-last { background-image: url(images/go-last.png); }
.pager-desc {
    font-size: 30px; vertical-align: middle;
    line-height: 10px;
}

/*
 * current mode - extra content
 */
#mode-extra-header {
    height: 30px; width: 100%;
    vertical-align: middle; text-align: center;
    background-color: #343434;
}
#mode-extra-header div {
    display: inline-block;
}
#mode-extra-title { height: 30px; font-style: italic; line-height: 30px;}
#mode-extra-close {
    height: 25px; position: fixed; right: 5px; top: 30px;
    padding: 2px;
    background-color: #565656;
}

/*
 * current mode - library list
 */
#mode-extra-content div div.library-item {
    width: 100%; height: 40px;
    border-bottom: 1px solid #676767;
}
#mode-extra-content div  div.library-item div {
    height: 40px;
    display: inline-block;
}
#mode-extra-content div  div.library-item div.media-play-btn {
    height: 40px; width: 40px;
    background-image: url(images/go-last.png);
    background-repeat: no-repeat;
}
#mode-extra-content div  div.library-item div.library-select {
    height: 40px; width: 40px;
    text-align: center; vertical-align: middle;
}
#mode-extra-content div div.library-apply div.apply-btn {
    height: 40px; width: 40px;
    background-image: url(images/apply.png);
    background-repeat: no-repeat;
}
#mode-extra-content div div.library-item div.directory,
#mode-extra-content div div.library-item div.file {
    font-size: 15px; line-height: 40px;
    overflow:hidden;
    white-space: nowrap;
}
#mode-extra-content div.pager { text-align: center; vertical-align: middle; }

/* current mode - option */
#playorder-option, #repeat-option {
    padding: 10px 10px 10px 100px;
}

/* current mode - webradio form */
.wb-input { margin-left: 5px; padding: 10px; }

/* current mode - video search */
.videosearch-box {
    margin-top: 5px;
}
