.cellListWidget {
  font: normal normal bold 18px/normal Helvetica;
  margin: 15px 10px 17px 10px;
}
.cellListKeyboardSelectedItem {}
.cellListEvenItem, .cellListOddItem {
  height: 35px; line-height: 35px;
  font-size: 13px; font-weight: bold;
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cellListSelectedItem{}

@if user.agent gecko1_8 gecko {
  .cellListWidget > div {
    -moz-box-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 3px;
  }
  .cellListWidget div div:first-child {
    -moz-border-top-left-radius: 8px 8px;
    -moz-border-top-right-radius: 8px 8px;    
  }
  .cellListWidget div div:last-child {
    -moz-border-bottom-left-radius: 8px 8px;
    -moz-border-bottom-right-radius: 8px 8px;
  }
  .cellListEvenItem, .cellListOddItem {
    background: literal("-moz-linear-gradient(top,rgb(76, 77, 78), rgb(64, 65, 66))");
  }
} @elif user.agent safari {
  .cellListWidget > div {
    -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 3px;
  }
  .cellListWidget div div:first-child {
    -webkit-border-top-left-radius: 8px 8px;
    -webkit-border-top-right-radius: 8px 8px;
  }
  .cellListWidget div div:last-child {
    -webkit-border-bottom-left-radius: 8px 8px;
    -webkit-border-bottom-right-radius: 8px 8px;
  }
  .cellListEvenItem, .cellListOddItem {
    background: literal("-webkit-gradient(linear, 0% 0, 0% 100%,from(rgb(76, 77, 78)), to(rgb(64, 65, 66)))");
  }
}