@external gwt-Label;

* { margin: 0; padding: 0; }
a { -webkit-tap-highlight-color: rgba(0,0,0,0); }
body {
  width: 100%; height: 100%;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  font-family: Helvetica; 
  background-color: rgb(94, 94, 101);
  color: white;
 }
 input, textarea {
  -webkit-user-select: auto;
  -moz-user-select: auto;
 }
 select {
    font-size: 20px;
 }
 
 /*
  * SpinnerValue
  */ 
.spinnerValue .gwt-Label {
   font-size: 16px;
   font-weight: bold;
   padding: 5px;
   border: 1px solid #D0D0D0;
   margin: 5px;
 }
 /*
  * Slider
  */
.slider{
	position: relative;
    margin-left: 15px;
    margin-right: 15px; 
    height: 10px;
    
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    background-image: -webkit-linear-gradient(#D0D0D0,#DFDFDF);
    background-image: -moz-linear-gradient(#D0D0D0,#DFDFDF);
}
.sliderHandle{
	position: absolute; top: -10px;
    width: 30px; height: 30px;
    z-index: 1;
    background-color: #BFBFBF;
    margin-left: -15px;
    
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
  
      
/*
 * FlipSwitch
 */
.flipSwitch{
	display: inline-block;
    position: relative;
    height: 30px; width: 80px;
    background-color: #eee;
    
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;  
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
.flipSwitchElt{
	position: absolute; top: 0px;  
    height: 30px; line-height: 30px;
    font-size: 15px; font-weight: bold;
    color: black;
    text-align: center;
    overflow: hidden; white-space: nowrap;
    
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
.flipSwitchOnElt{
	left: 0;
    width: 0%;
    z-index: 1;
    text-shadow: 0 1px 1px #3373A5;
    color: white;
    text-indent: -40px;
    
    background-image: -webkit-linear-gradient(#5393C5,#6FACD5);
    background-image: -moz-linear-gradient(#5393C5,#6FACD5);
}
.flipSwitchOffElt{
	width: 100%;
    right: 0;
    z-index: 0; 
    text-indent: 40px;
    
    background-image: -webkit-linear-gradient(#D0D0D0,#DFDFDF);
    background-image: -moz-linear-gradient(#D0D0D0,#DFDFDF);
}
.flipSwitch .slider { height: 0px; width: auto; }
.flipSwitch .sliderHandle { top: 0px; }


.mainBody {
  width: 100%; height: 100%;
}
.mainBody > .wallPanel {
  display: none;
  position: absolute;
  left: 0px; top: 0px; width: 100%; height: 100%;
}

.center { text-align: center; }
.italic { font-style: italic; }
@url buttonUrl button;
.button {
  background: none;
  border-width: 0px 5px;
  color: white;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  overflow: hidden;
  padding: 0px 3px;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.496094) 0px -1px 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: auto;
}

@if user.agent gecko1_8 gecko {
  .mainBody > .wallPanel {
    background: literal("-moz-linear-gradient(top,rgb(51, 51, 51), rgb(94, 94, 101))");
    -moz-box-sizing: border-box;
  }
  .button {
    -moz-border-image: buttonUrl 0 5 0 5 stretch stretch;
  }
} @elif user.agent safari {
  .mainBody > .wallPanel {
    -webkit-box-sizing: border-box;
    background: literal("-webkit-gradient(linear, 0% 0, 0% 100%,from(rgb(51, 51, 51)), to(rgb(94, 94, 101)))");
  }
  .button {
    -webkit-border-image: buttonUrl 0 5 0 5 stretch stretch;
  }
}

/*
 * Messages
 */
.msgPanel {
  width: 100%;
  position: fixed; top: 0px; left: 0px;
  min-heigth: 50px; z-index:10;
  opacity: 0.9;
}
.msgPanel button {
  padding: 7px 7px; text-align: center;
  color: white;
  border: 0px;
}
.error {
  background-color: #EF9398;
  border: 1px solid #DC5757;
}
.error button { background-color: #DC5757; }
.information {
  color: black; background-color: #A6EF7B;
  border: 1px solid #76C83F;
}
.information button { color: black; background-color: #76C83F; }

/*
 * Wall To Wall Panel
 */
.currentWall { display: block !important; }
.wallHeader {
  border-bottom: 1px solid rgb(0, 0, 0);
  height: 40px; width: 100%;
}
@sprite .wallHeader{ gwt-image: "toolbar"; height: 40px; }
@sprite .wallHeader .wallHeaderTitle { gwt-image: "toolbar"; }
 @sprite .wallHeader .wallHeaderHTMLTitle { gwt-image: "toolbar"; }
.wallHeader .wallHeaderTitle, .wallHeader .wallHeaderHTMLTitle {
  color: white;
  font-family: inherit;
  white-space: normal;
  text-align: center;
  opacity: 0.9;
  background-color: #222;
  z-index: 10;
}
.wallHeader .wallHeaderTitle {
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
}
.wallHeader .wallHeaderHTMLTitle { font-size: 13px; line-height: 20px;}
@url backButtonUrl backButton;
@url forwardButtonUrl forwardButton;
.headerButton {
  text-align: center;
  max-width: 55px;
  padding: 0px;
  margin: 5px 2px 5px 2px;
}
.headerBackButton {
  border-width: 0px 8px 0px 14px;  
}
.headerForwardButton {
  border-width: 0px 14px 0px 8px;
}
.contextPanel {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  z-index: 5;
}
.contextHeader {
  font-style: italic;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 100%;
}

@if user.agent gecko1_8 gecko {

  .wallHeader { -moz-box-sizing: border-box; }
  .headerBackButton {
    -moz-border-image:backButtonUrl 0 8 0 14 stretch stretch;
  }
  .headerForwardButton {
    -moz-border-image:forwardButtonUrl 0 14 0 8 stretch stretch;
  }
  .contextPanel { background: literal("-moz-linear-gradient(top,rgb(51, 51, 51), rgb(94, 94, 101))"); }
  .contextHeader {background: literal("-moz-linear-gradient(top,rgb(0, 0, 0), rgb(94, 94, 101))"); }

} @elif user.agent safari {

  .wallHeader { -webkit-box-sizing: border-box; }
  .headerBackButton {
    -webkit-border-image:backButtonUrl 0 8 0 14 stretch stretch;
  }
  .headerForwardButton {
    -webkit-border-image:forwardButtonUrl 0 14 0 8 stretch stretch;
  }
  .wallHeader .wallHeaderTitle, .wallHeader .wallHeaderHTMLTitle {
    text-overflow: ellipsis;
  }
  .contextPanel { background: literal("-webkit-gradient(linear, 0% 0, 0% 100%,from(rgb(51, 51, 51)), to(rgb(94, 94, 101)))");}
  .contextHeader { background: literal("-webkit-gradient(linear, 0% 0, 0% 100%, from(rgb(0, 0, 0)), to(rgb(94, 94, 101)))"); }
}

/*
 * Player
 */
.playerPanel{
  width: 100%;
  text-align: center;
}
.playerButtonPanel{
  display: inline-block;
  width: 100%; height: 40px; z-index: 1;
  text-align: center;
  margin-right: auto; margin-left: auto;
}
.playerButton {border: 0px; padding: 0px;}
@sprite .play { gwt-image: "play"; }
@sprite .pause { gwt-image: "pause"; }
@sprite .stop { gwt-image: "stop"; }
@sprite .next { gwt-image: "next"; }
@sprite .previous { gwt-image: "previous"; }

.coverImg {
  text-align: center;
  width: 100%;
  z-index: -1;
}
.volPanel { height: 60px; }

@sprite .goFirst { gwt-image: "goFirst"; }
@sprite .goPrevious { gwt-image: "goPrevious"; }
@sprite .goNext { gwt-image: "goNext"; }
@sprite .goLast { gwt-image: "goLast"; }

.optionPanel {
  position: absolute; bottom: 100px; left: 0px;
  opacity: 0.7;
  width: 100%;
  z-index: 10;
}
.seekBar {
  width: 100%; 
}
.seekBarDesc {
  color: white;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
}

@if user.agent gecko1_8 gecko {
  .seekBar{ background: literal("-moz-linear-gradient(top,rgb(0, 0, 0), rgb(94, 94, 101))"); }
  .playerButtonPanel{ background: literal("-moz-linear-gradient(top,rgb(0, 0, 0), rgb(94, 94, 101))"); }
  .volPanel { background: literal("-moz-linear-gradient(top,rgb(94, 94, 101), rgb(0, 0, 0))");}
} @elif user.agent safari {
  .seekBar { background: literal("-webkit-gradient(linear, 0% 0, 0% 100%, from(rgb(0, 0, 0)), to(rgb(94, 94, 101)))"); }
  .playerButtonPanel { background: literal("-webkit-gradient(linear, 0% 0, 0% 100%, from(rgb(0, 0, 0)), to(rgb(94, 94, 101)))"); }
  .volPanel { background: literal("-webkit-gradient(linear, 0% 0, 0% 100%, from(rgb(94, 94, 101)), to(rgb(0, 0, 0)))"); }
}

/*
 * Mode list
 */
.modeListItem { height: 35px; }
.modeListDesc {
  height: 35px; line-height: 35px;
  font-size: 17px; font-weight: bold;
  display: block;
  padding: 0px; margin: 0px;
 }

/*
 * Medialist
 */
@sprite .chevron { gwt-image: "chevron"; }
.mListPager {
  text-align: center;
  color: white;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
}
.mListTitle {
  font-size: 13px; font-weight: bold;
  white-space: normal;
}
.mListDesc {
  font-size: 11px; font-style: italic; font-weight: normal;
  margin-left: 15px;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dvdTrack {
  height: 25px; line-height: 25px;
  fint-size: 15px;
  padding: 2px;
  color: white;
}

/*
 * Toolbar button
 */
@sprite .option { gwt-image: "options"; }
@sprite .add { gwt-image: "add"; }
@sprite .clear { gwt-image: "clear"; }
@sprite .shuffle { gwt-image: "refresh"; }


/*
 * Effects
 */
  .in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 350ms;
  }

  .slide.in {
    -webkit-animation-name: slideinfromright;
  }

  .slide.out {
      -webkit-animation-name: slideouttoleft;
  }

  .slide.in.reverse {
      -webkit-animation-name: slideinfromleft;
  }

  .slide.out.reverse {
      -webkit-animation-name: slideouttoright;
  }

  @-webkit-keyframes slideinfromright {
      from { -webkit-transform: translateX(100%); }
      to { -webkit-transform: translateX(0); }
  }

  @-webkit-keyframes slideinfromleft {
      from { -webkit-transform: translateX(-100%); }
      to { -webkit-transform: translateX(0); }
  }

  @-webkit-keyframes slideouttoleft {
      from { -webkit-transform: translateX(0); }
      to { -webkit-transform: translateX(-100%); }
  }

  @-webkit-keyframes slideouttoright {
      from { -webkit-transform: translateX(0); }
      to { -webkit-transform: translateX(100%); }
  }

  .slideup.in {
    -webkit-animation-name: slideup;
    z-index: 10;
  }

  .slideup.out {
    -webkit-animation-name: dontmove;
    z-index: 0;
  }

  .slideup.out.reverse {
    z-index: 10;
    -webkit-animation-name: slidedown;
  }

  .slideup.in.reverse {
    z-index: 0;
    -webkit-animation-name: dontmove;
  }


  @-webkit-keyframes slideup {
      from { -webkit-transform: translateY(100%); }
      to { -webkit-transform: translateY(0); }
  }

  @-webkit-keyframes slidedown {
      from { -webkit-transform: translateY(0); }
      to { -webkit-transform: translateY(100%); }
  }
