include doc/*
include LICENCE
include README
include docs.py
include deejayd/ui/defaults.conf
include deejayd/database/sql/*
include deejayd/webui/templates/*
include gentoo/*
include gentoo/files/*
include debian/*
recursive-include data/htdocs *
include po/*po
include po/deejayd.pot
