include MANIFEST.in
include doc/*
include COPYING
include README
include NEWS
include docs.py
include deejayd/ui/defaults.conf
include deejayd/database/sql/*
include deejayd/webui/templates/*
include gentoo/*
include gentoo/files/*
recursive-include data/htdocs *
include po/*po
include po/POTFILES.in
include po/update.py
include po/deejayd.pot
include tests.py
include scripts/testserver
recursive-include testdeejayd *
include data/logo/*
