progress_slider {
  -moz-binding: url("./progress_slider.xml#progress_slider") !important;
}

player_volume {
  -moz-binding: url("./player_controls.xml#volume") !important;
}

player_seekbar {
  -moz-binding: url("./player_controls.xml#seekbar") !important;
}
